.CityCard {
  height: 420px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 1rem;
}
.CityCard-name {
  color: red;
  margin: 0;
  font-family: Yekan;
}
.CityCard-name-c {
  background-color: #ffdf00dd;
  padding: 0.5rem 5.5rem;
  border-radius: 20px 20px 0 0;
}
