.Footer {
  background-color: #2e5d6a;
  padding-top: 3rem;
}
.Footer i {
  color: white;
  font-size: 5rem;
}
.Footer-socials .col {
  text-align: center;
}
.Footer-socials {
  margin: 1rem 4rem 0;
}
.Footer-socials a,
.Footer-socials i {
  transition: ease 0.4s all;
}
.Footer-socials a:hover > i {
  transform: translateY(-6px);
}
.Footer-desc .col {
  text-align: right;
}
.Footer-desc {
  margin: 1rem 0 0;
  font-family: Yekan;
  color: white;
  padding: 3rem 0;
}
.Footer-desc h6 {
  font-size: 25px;
}
.Footer-desc p {
  font-size: 20px;
}
.Footer-links a {
  margin: 1rem;
  font-size: 25px;
  font-family: Yekan;
  color: white;
  transition: ease 0.3s all;
  text-decoration: none !important;
}
.Footer-links a:hover {
  color: #aaa;
}
.Footer-license {
  background-color: #28383c;
  text-align: center;
  padding: 1rem 2rem;
  border-radius: 30px 30px 0 0;
}
.Footer-license p {
  color: white;
  font-size: 20px;
  font-family: Yekan;
  margin: 0;
}
