.NavBar {
  position: relative;
  height: 600px;
  background-image: url('/images/navBg.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10rem;
}
.NavBar nav {
  border-radius: 0 0 50px 50px;
  padding: 10px 20px;
}
.nav-link {
  color: #2e5d6a !important;
  font-family: Yekan;
  font-size: 20px;
  transition: ease 0.4s;
}
.nav-link:hover {
  color: black !important;
}
