.Newsletter {
  background-color: rgba(51, 184, 191, 0.1);
  padding: 4rem 0;
  font-family: Yekan;
}
.Newsletter img {
}
.Newsletter-btn {
  color: #2e5d6a;
  background-color: #ffdf00;
  padding: 1rem 2rem;
  border-radius: 10px;
  border-color: #ffdf00;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(255, 223, 0, 0.5);
  -moz-box-shadow: 0px 10px 5px 0px rgba(255, 223, 0, 0.5);
  box-shadow: 0px 10px 5px 0px rgba(255, 223, 0, 0.5);
  font-size: 1rem;
}
.Newsletter-input {
  margin-left: 10px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: 1px solid #b7b7b7;
  width: 450px;
  font-size: 1rem;
}
.Newsletter-title {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.Newsletter-alert {
  position: absolute !important;
  bottom: -5rem;
  transition: ease 3s;
}
