.Search {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0 2rem 2rem;
  border-radius: 50px;
  -webkit-box-shadow: 0px 16px 25px 0px rgba(46, 93, 106, 1);
  -moz-box-shadow: 0px 16px 25px 0px rgba(46, 93, 106, 1);
  box-shadow: 0px 16px 25px 0px rgba(46, 93, 106, 1);
}
.Search .d-flex {
  width: 1000px;
}
.Search-item {
  cursor: pointer;
  padding: 1rem 2rem;
  border-bottom: #b7b7b744 solid 3px;
  border: none;
}
.Search-item:focus,
button {
  outline: none !important;
}
.Search img {
  margin-left: 1rem;
}
.Search-item-active {
  border-bottom: #ffdf00 solid 3px;
  border-top: #ffdf00 solid 7px;
}
.Search select {
  font-family: Yekan;
  font-size: 1rem;
  width: 10rem;
  margin: 0 1rem;
}
.Search-spanContainer {
  padding: 0.3rem 0 0 0.3rem;
  border-left: 1px #99999944 solid;
}
.Search-date input {
  width: 140px;
}
.Search-info {
  padding: 0 4rem;
}
.Search-info-span {
  color: #99999944;
  font-family: Yekan;
}
.Search-info input {
  border: none;
}
.Search-info i {
  margin-left: 0.3rem;
}
.Search-info-inputContainer {
  border: #99999944 solid 1px;
  border-radius: 10px;
  padding: 0.3rem 0.1rem;
  margin-left: 0.7rem !important;
  font-size: 0.9rem;
}
.Search-exchange {
  margin-top: 0.3rem;
  line-height: 1;
  padding: 8px 0px;
  text-align: center;
  height: 30px;
  width: 30px;
  font-size: 0.8rem;
  border-radius: 50px;
  border: #2e5d6a solid 1.5px;
  transition: ease all 0.4s;
  cursor: pointer;
}
.Search-exchange:hover {
  background-color: #2e5d6a;
}
.Search-exchange:hover > i {
  color: white;
}
.Search-exchange i {
  color: #2e5d6a;
  margin: 0;
  padding: 0;
}
.Search-info button {
  font-family: Yekan;
  padding: 0.7rem 4rem;
}
