@import './ExDiv.css';
@import './CityCard.css';
@import './Tourism.css';
@import './Newsletter.css';
@import './Footer.css';
@import './Navbar.css';
@import './Search.css';
body {
  direction: rtl;
  text-align: right;
  margin: 0;
  box-sizing: border-box;
  flex-shrink: 0;
}

@font-face {
  font-family: 'Yekan';
  src: url('/fonts/Yekan/Yekan.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Yekan/Yekan.woff') format('woff'),
    url('/fonts/Yekan/Yekan.ttf') format('truetype');
}

.ExDiv {
  margin: 2rem 4rem;
  text-align: center;
}
.top-footer {
  padding: 3rem 2rem 0;
}
.top-footer h4 {
  text-align: center;
  font-size: 3rem;
  font-family: Yekan;
  margin: 4rem 0 7rem 0;
}
