.Tourism {
  margin-top: 6rem;
  position: relative;
}
.Tourism-title {
  margin-bottom: 3rem;
  font-size: 30px;
  font-family: Yekan;
}
.Tourism-btn {
  background-color: #fff;
  border-radius: 50%;
  border-width: 0;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
  color: #007791;
  font-size: 2rem;
  height: 60px;
  width: 60px;
  line-height: 1;
  padding: 14px 0px;
  text-align: center;
  top: 60%;
  transform: translateY(-50%);
  transition: 300ms;
  z-index: 3;
  position: absolute;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(46, 93, 106, 1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(46, 93, 106, 1);
  box-shadow: 0px 0px 16px 0px rgba(46, 93, 106, 1);
}
.Tourism-btn:focus {
  transform: translateY(-45%);
}
.Tourism-btn-left {
  left: -30px;
}
.Tourism-btn-right {
  right: -30px;
}
